body{
  background-color: #2C4044;
}
.card{
  background-color: #2C4044;
  display:flex;
}
.main{
  width: 97%;
  margin-left: 2pc;
  margin-right: 2rem;
}
.navlink a{
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
}
.brand{
  font-weight: bold;
}