body{
  background-color: #2C4044;
}
.card{
  background-color: #2C4044;
  display:flex;
}
.main{
  width: 97%;
  margin-left: 2pc;
  margin-right: 2rem;
}
.navlink a{
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
}
.brand{
  font-weight: bold;
}
form{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 40%;
  margin-left: 40pc;
}


.input-fields input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9rem;
  width: 50%;
  margin-top: 2rem;
  height: 3rem;
  border-radius: 10px;
}
